In [7]:
import pandas as pd
import glob

# Brian Kitano Coding Test

Start: 9:23 AM

## 2. Data Cleaning

Start: 9:23 AM

The central task is to collapse the grid-level dataset into a district-level dataset.

The final product from this section is a district-level daily dataset from 2009-2013 with temperature, rainfall, and total rainfall variables.

Steps:
1. Calculate the set of points $P$ to include for each district.
2. Use the formulas to calculate the district statistic.

The actual EPIC project used 339 districts in India, 112 years of data and a 0.25°(latitude) x 0.25°(longitude) grid for rainfall. How would your code scale up with this larger dataset? Would you need any additional computing resources? Be as specific as possible.

### Response

In [8]:
district_df = pd.read_csv('./data/DailyAverages/districtDailyAverage_2009.csv')

In [9]:
district_df

,Unnamed: 0,month,day,year,unique_dist_id,rainfall,weightedAverageTemperature,weightedAverageRainfall
0,0,1,1,2009,1711.0,0.0,20.914830,0.0
1,1,1,2,2009,1711.0,0.0,20.753485,0.0
2,2,1,3,2009,1711.0,0.0,21.721004,0.0
3,3,1,4,2009,1711.0,0.0,20.808286,0.0
4,4,1,5,2009,1711.0,0.0,21.258053,0.0
...,...,...,...,...,...,...,...,...
27370,360,12,27,2009,520.0,0.0,17.437679,0.0
27371,361,12,28,2009,520.0,0.0,17.825392,0.0
27372,362,12,29,2009,520.0,0.0,18.287679,0.0
27373,363,12,30,2009,520.0,0.0,18.142389,0.0
27374,364,12,31,2009,520.0,0.0,17.443925,0.0

Each year-district takes about one second, so if there were